@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* main component */

body {
  margin: 0;
}

.header {
  margin: auto;
  height: 15vh;
  background-color: #AB2A19;
}

.siteTitle {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 60px;
  position: absolute;
  left: 40vh;
  color: #FFFFFF;
  font-family: 'Open Sans';
}

.siteLogo {
  margin: auto;
  position: absolute;
  padding: 20px;
  left: 28vh;
}

/* Shelfie Component */

.shelfAA {
  background-color: #D34735;
  width: 80vh;
  height: 10vh;
  border-radius: 10px;
  margin: 5vh 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 30px;
  
}